.app {
  height: 100vh;
}

@keyframes slideAnimation {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.outer-looper-wrapper {
  width: 75%;
  margin: 100px auto;
  overflow: hidden;
}

.inner-looper-wrapper {
  display: flex;
  justify-content: center;
  width: fit-content;
}

.looper-list-instance {
  display: flex;
  width: max-content;
  animation: slideAnimation linear infinite;
}

.looper-list-instance img {
  width: 20%;
  aspect-ratio: 3 / 2;
  object-fit: contain;
}